#nav
{
    display: flex;
    background-color: #f2e9e9;
    margin: 0px;
   height: 100px;
   border-radius: 10px;
}

#logo
{
    display: flex;
    margin: 0px;
    

}
#photo
{
    border-radius: 10px;
}

p
{
    margin: 0px;
    padding-left: 10px;
    color: #832729;
    font-size: 24px;
}
#t1
{
    margin: 35px;
}

#t2
{
    margin: 35px;
    margin-left: 400px;
    
    
}
#f
{
    color: #832729;
    text-decoration: none;
    
    font-size: 24px;
}

